name: Deploy to Staging

on:
  push:
    branches:
      - "main"

jobs: 
  redeploy-to-staging:
    runs-on: ubuntu-latest
    name: Deploying everything to staging
    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE }}" > ~/.ssh/demo.pem
          chmod 600 ~/.ssh/demo.pem
          ssh-keyscan -H ec2-13-53-197-0.eu-north-1.compute.amazonaws.com >> ~/.ssh/known_hosts
      
      - name: Deploy to staging
        run: |
          ssh -i ~/.ssh/demo.pem ec2-user@ec2-13-53-197-0.eu-north-1.compute.amazonaws.com << 'EOF'
            cd jdp-trading-landing
            git pull origin main
            npm i
            npm run build
            pm2 restart trading
          EOF


