name: Deploy to Staging

on:
  push:
    branches:
      - main

jobs:
  redeploy-to-staging:
    runs-on: ubuntu-latest
    name: Deploying everything to staging

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE }}" > ~/.ssh/demo.pem
          chmod 600 ~/.ssh/demo.pem
          ssh-keyscan -H ec2-13-53-197-0.eu-north-1.compute.amazonaws.com >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh -i ~/.ssh/demo.pem ec2-user@ec2-13-53-197-0.eu-north-1.compute.amazonaws.com << 'EOF'
            set -e
            cd ~/jdp-trading-landing
            git pull origin main
            npm install
            npm run build
            pm2 restart trading
          EOF
