name: Deploy to EC2 (Git Pull)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE }}
          script: |
            cd ~/jdp-trading-landing
            git pull origin main
            npm install
            npm run build
            pm2 restart trading
